<!-- Footer
                ============================================================ -->
                <footer id="colophon" class="footer-section site-footer">
                    <!-- footer container -->
                    <div class="footer-section-container">


                        <!-- footer top -->
                        <div class="footer-section-top">
                            <!-- Section -->
                            <div class="main-section">
                                <!-- container -->
                                <div class="container gx-4">
                                    <!-- row -->
                                    <div class="row gx-36">


                                        <!-- col-lg-5 -->
                                        <div class="col-lg-8">
                                            <!-- Text -->
                                            <div class="widget widget_text light-color">

                                                <h6 class="widget-title font-weight-500"><span>About</span></h6>

                                                <div class="textwidget">

                                                    <p>This web site lists the many fascets of Glenn's life. He does a lot of random things, he often has to explain it. This site helps explain the chaos away.</p>

                                                    <!-- Social networks -->
                                                    <div class="social-networks social-networks-xs social-networks-layout-2">
                                                        <ul>
                                                            <li>
                                                                <a href="#" title="Facebook">
                                                                    <i class="fab fa-facebook-f"></i>
                                                                    <i class="fab fa-facebook-f"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="Twitter">
                                                                    <i class="fab fa-twitter"></i>
                                                                    <i class="fab fa-twitter"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" title="youtube">
                                                                    <i class="fab fa-youtube"></i>
                                                                    <i class="fab fa-youtube"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div><!-- /End Social networks -->

                                                </div>

                                            </div><!-- /End Text -->
                                        </div><!-- /End col-lg-5 -->


                                        <!-- col-lg-2 -->
                                        <div class="col-lg-2">
                                            <!-- Navigation Menu -->
                                            <div class="widget widget_nav_menu light-color">

                                                <h6 class="widget-title font-weight-500"><span>Work</span></h6>

                                                <ul>
                                                    <li><a href="/daytoday.html">Day to Day</a></li>
                                                    <li><a href="/orchard.html">Orchard</a></li>
                                                    <li><a href="/publicatons.html">Publications</a></li>
                                                </ul>

                                            </div><!-- /End Navigation Menu -->
                                        </div><!-- /End col-lg-2 -->

                                        <!-- col-lg-2 -->
                                        <div class="col-lg-2">
                                            <!-- Navigation Menu -->
                                            <div class="widget widget_nav_menu light-color">

                                                <h6 class="widget-title font-weight-500"><span>Personal</span></h6>

                                                <ul>
                                                    <li><a href="/music.html">Music</a></li>
                                                    <li><a href="/standup.html">Stand-up Comedy</a></li>
                                                    <li><a href="/sport.html">Occasional Sport</a></li>
                                                </ul>

                                            </div><!-- /End Navigation Menu -->
                                        </div><!-- /End col-lg-2 -->

                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section -->
                        </div><!-- /End footer top -->


                        <!-- footer copyright -->
                        <div class="footer-section-copyright">
                            <!-- Section -->
                            <div class="main-section">
                                <!-- container -->
                                <div class="container gx-4">
                                    <!-- row -->
                                    <div class="row gx-36">


                                        <!-- col-lg-12 -->
                                        <div class="col-lg-12">
                                            <!-- Content -->
                                            <div class="footer-section-copyright-content light-color">

                                                <p>&copy; <span class="current-year">2021</span> designed &amp; developed by <a href="#" title="Graphicfort">Graphicfort</a>, all rights reserved.</p>

                                            </div><!-- /End Content -->
                                        </div><!-- /End col-lg-12 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section -->
                        </div><!-- /End footer copyright -->


                    </div><!-- /End footer container -->
                </footer><!-- /End footer -->