        <!-- Java Script Files
        ==================================================================== -->
        <script src="assets/js/vendor/jquery/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery/jquery-ui.min.js"></script>
        <script src="assets/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <script src="assets/js/plugins/animsition/js/animsition.min.js"></script>
        <script src="assets/js/plugins/appear/jquery.appear.min.js"></script>
        <script src="assets/js/plugins/countto/jquery.countTo.min.js"></script>
        <script src="assets/js/plugins/downcount/jquery.downCount.min.js"></script>
        <script src="assets/js/plugins/easy-pie-chart/jquery.easypiechart.min.js"></script>
        <script src="assets/js/plugins/fancybox/js/jquery.fancybox.min.js"></script>
        <script src="assets/js/plugins/fitvids/jquery.fitvids.min.js"></script>
        <script src="assets/js/plugins/isotope/isotope.pkgd.min.js"></script>
        <script src="assets/js/plugins/mediaelementplayer/js/mediaelement-and-player.min.js"></script>
        <script src="assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="assets/js/plugins/pace/pace.min.js"></script>
        <script src="assets/js/plugins/parallax/jquery.parallax-1.1.3.min.js"></script>
        <script src="assets/js/plugins/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
        <script src="assets/js/plugins/sticky-sidebar/jquery.sticky-sidebar.min.js"></script>
        <script src="assets/js/plugins/tweetie/tweetie.min.js"></script>
        <script src="assets/js/plugins/twenty-twenty/js/twentytwenty.min.js"></script>
        <script src="assets/js/plugins/typed/typed.min.js"></script>
        <script src="assets/js/plugins/validation/jquery.validate.min.js"></script>

        <script src="assets/js/scripts.js"></script>